# Virtual environment
venv/
.venv/
ENV/
env/

# Environment files
.env
.env.*

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
.vercel
.env*
